.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  // padding: 30px;
  overflow-y: auto;
  background-image: var(--backgroundImageURL);
  background-size: cover;
  padding: 4% 1% 1% 1%;

  .subContainer {
    width: 100%;
    height: 100%;
    background: rgba(255, 254, 250, 0.2);
    border-radius: 0.5rem;
    padding: 0.75rem;
    overflow: auto;
  }
  h3 {
    align-self: flex-start;
    width: 100%;
    background: var(--kendo-color-primary, #106ebe);
    padding: 8px 16px;
  }

  h5 {
    font-size: 18px;
    padding: 8px 16px;
    margin: 0;
    background: var(--kendo-color-primary, #106ebe);
    border-radius: 8px 8px 0 0;
  }

  hr {
    opacity: 1;
    margin: 0;
  }
}

.disabledTextArea {
  textarea {
    pointer-events: none;
  }
}

.transcriptContainer {
  width: 100%;
  height: calc(100% - 40px);
}

.popover {
  :global(.k-popover) {
    :global(.k-popover-inner) {
      :global(.k-popover-body) {
        white-space: break-spaces !important;
      }
    }
  }
}

.textPopover {
  top: 445px !important;
  left: 700px !important;
  z-index: 200;
  :global(.k-popover) {
    :global(.k-popover-inner) {
      :global(.k-popover-body) {
        white-space: break-spaces !important;
        width: 500px;
      }
    }
  }
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 10px;

  & > div {
    border: 1px solid #07659e;
    border-radius: 8px;
    color: #07659e;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
  }
}

.header {
  width: 100%;
  padding: 10px;
  background-color: var(--kendo-color-primary);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-size: 20px;
  font-weight: 600;
  border-radius: var(--border-radius-lg, 4px);
}

.chat {
  height: 100%;
  border-color: unset;
  color: unset;
  background-color: unset;
  border: none;
  max-width: none;

  :global(.k-author) {
    color: #424242;
  }

  :global(.k-message-list) {
    :global(.k-message-list-content) {
      :global(.k-alt) {
        :global(.k-message) {
          :global(.k-bubble) {
            background-color: #07659e;
            border-color: #07659e;
            color: var(--tab-text-color);
          }
        }
      }
    }
  }

  :global(.k-message-box) {
    display: none;
  }
}

.glow {
  /* set the initial box-shadow to none */
  box-shadow: none; /* add the animation property with a 2-second duration and infinite loop */
  animation: flash-shadow 2s infinite;
} /* define the animation to flash the box-shadow */
@keyframes flash-shadow {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 13px 7px #46d5e9;
  }
  25% {
    box-shadow: 0px 0px 13px 7px #46d5e9;
  }
}
.disclaimerText {
  padding-bottom: 0px;
  font-size: 12px;
  padding-top: 16px;
  color: #605e5c;
}
.archDiaButton {
  position: absolute;
  bottom: 21px;
  right: 170px;
}
.textArea {
  background-color: transparent;
  color: #092952;
  border: unset;
  outline: none;
  overflow-y: auto;

  textarea {
    overflow-y: hidden !important;
  }

  &:global(.k-disabled) {
    opacity: 1;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: #092952;
    border: unset;
    outline: none;
    // border: 1px solid white;
  }
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.btn {
  border-radius: 25px;
  padding: 10px 20px;
  width: 150px;
  color: white;
  background-color: var(--kendo-color-primary);
  border-radius: 4px;

  border: unset;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: var(--kendo-color-primary);
    border: unset;
    box-shadow: none;
  }
}

.archDia {
  position: absolute;
  padding-top: 730px;
  padding-left: 1300px;
}

.archButton {
  color: white;
  background-color: var(--kendo-color-primary);
  border: unset;
  border-radius: 4px;
  padding: 9px 24px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid white;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & > svg {
      position: absolute;
      right: 12px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid white !important;
    color: white;
    background-color: #092952;
    border: unset;
  }
}

.tabContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  gap: 8px;
  height: calc(100% - 100px);
  padding: 24px;
  border-radius: var(--border-radius-lg, 4px);
  background: var(--kendo-color-app-surface, #fff);
}

.tab {
  flex: 1 1;
  border-radius: var(--border-radius-lg, 4px);
  background: var(--kendo-color-app-surface, #fff);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid
    var(--kendo-color-component-border, rgba(138, 136, 134, 0.16));
  box-shadow: 0px 0.3px 0.9px 0px rgba(0, 0, 0, 0.1),
    0px 1.6px 3.6px 0px rgba(0, 0, 0, 0.13);
}

.tabHeader {
  display: flex;
  //   justify-content: center;
  border-radius: var(--border-radius-md, 2px) var(--border-radius-md, 2px)
    var(--border-radius-null, 0px) var(--border-radius-null, 0px);
  background: var(--kendo-color-primary, #106ebe);
  position: relative;
  border-radius: 8px 8px 0 0;
  h5 {
    flex: 1;
  }
}

.switchContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 16px;
  justify-content: center;

  h6 {
    font-size: 16px;
    margin: 0;
  }

  :global(.k-switch) {
    :global(.k-switch-track[aria-checked="true"]) {
      background-color: #e9883a;
    }
  }
}

.summaryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  color: #092952;
  justify-content: center;
  white-space: break-spaces;
  padding: 16px;
  overflow-y: auto;
}

.arrowA {
  position: absolute;
  top: 10px;
  transform: scale(0.7);
  right: 100px;
  cursor: pointer;
  z-index: 999;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.title {
  font-size: 22px;
}

.secondaryButton {
  background-color: white;
  color: black;
  border: 2px solid #d1d1d1;
  font-weight: 600;
  font-size: 18px;

  &:hover,
  &:active,
  &:focus {
    background-color: white;
    color: black;
  }
}

.primaryButton {
  background-color: #0f6cbd;
  color: white;
  font-weight: 600;
  border-width: 2px;
  font-size: 18px;

  &:hover,
  &:active,
  &:focus {
    background-color: #0f6cbd;
    color: white;
  }
}

.actionButtonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 0px;
  position: absolute;
  top: 1.5%;
  right: 6%;
}
