.container {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-image: var(--backgroundImageURL);
  display: flex;
  padding-right: 16px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  background-image: url(https://dreamdemoassets.blob.core.windows.net/daidemo/aoai_2_login_background.png);
  background-size: cover;
  padding: 4% 1% 1% 1%;
}
.subContainer {
  width: 100%;
  height: 100%;
  background: rgba(255, 254, 250, 0.2);
  border-radius: 0.5rem;
  position: relative;
}
.homePageContainer {
  width: 100%;
  height: 100%;
}

.deleteIcon {
  position: absolute;
  bottom: 44px;
  right: 12px;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    scale: 1.1;
  }
}

.dropdownList {
  position: absolute;
  width: 150px;
  right: 48px;
  top: 16px;
  height: 28px;
}

.buttonGroup {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  .button {
    padding: 2px 12px;
  }
}

.deleteConfirmation {
  background-color: rgba(0, 0, 0, 0.9);
  width: max-content;
  bottom: 75px;
  position: absolute;
  right: 12px;
  padding: 12px;
  border-radius: 8px;
  color: white;
}

.carouselImageContainer {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}

.speaker {
  position: absolute;
  right: 50px;
  cursor: pointer;
}

.disableChatBot {
  pointer-events: none;
  opacity: 0.8;
}

.defaultLooksContainer {
  background-image: url(https://dreamdemoassets.blob.core.windows.net/mtc/mtc_new_bg.png);
  background-size: cover;
  margin: 0 24px;
  padding: 24px;
  padding-top: 0px;
  border-radius: 16px;
}

.thoughtProcessPopup {
  border: 1px solid white;
  position: absolute;
  z-index: 1588;
  padding: 4px;
  padding-top: 0;
  background-color: #d9d9d9;
  margin-top: 60px;
  height: 55vh;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 65px;
  flex-direction: column;
  border-radius: 8px;

  & > .thoughtProcessPopupHeader {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 25.75vw;
    z-index: 999;
    padding: 8px;
    background-color: #d9d9d9;

    h1 {
      margin: 0;
      font-size: 20px;
      padding: 0;
      color: black;
      font-weight: 600;
    }

    .closeBtn {
      font-size: 18px;
      cursor: pointer;
      background: transparent;
      color: black;
      border: none;
    }
  }

  .body {
    margin-top: 40px;
    padding: 8px;
    background-color: white;
    overflow: auto;
    height: 48vh;
    font-size: 14px;
  }
}

.chatIcon {
  position: absolute;
  bottom: 74px;
  right: 16px;
  cursor: pointer;
  z-index: 999;
  box-shadow: none;
  // animation: flash-shadow 2s infinite;
  border-radius: 50px;
}

.muteButton {
  width: 35px !important;
  height: 35px;
  color: white;
  background-color: var(--kendo-color-primary);
  border: unset;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & > svg {
      position: absolute;
      right: 12px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid white !important;
    color: white;
    background-color: var(--kendo-color-primary);
    border: unset;
  }
}
.glow {
  box-shadow: none;
  animation: flash-shadow 2s infinite;
}
@keyframes flash-shadow {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 13px 7px #46d5e9;
  }
  25% {
    box-shadow: 0px 0px 13px 7px #46d5e9;
  }
}
.chatContainer {
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 400px;
  border-radius: 10px;
  //bottom: 74px;
  flex: 0.3;
  margin-top: 1%;
  :global(.k-chat) {
    margin: 0px;
    max-width: unset;
    background: var(--kendo-color-surface, #faf9f8);
    border-radius: 0 0 8px 8px;
    height: 72vh;
    margin-bottom: 66px;
    :global(.k-message-box) {
      gap: 4px;

      :global(.k-button-send) {
        :global(.k-button-text) {
          :global(.k-icon) {
            font-size: 20px;
          }
        }
      }
    }

    :global(.k-quick-reply) {
      color: #1e64b2;
      border-color: #1e64b2;
      border-radius: 12px;

      &:hover {
        background-color: #1e64b2;
        border-color: #1e64b2;
        color: #fff;
      }
    }
  }

  :global(.k-message-box) {
    input {
      font-size: 16px;
      padding: 8px 12px;
    }
  }

  :global(.k-message-list) {
    :global(.k-message-list-content) {
      height: calc(100% - 56px);
      overflow-y: auto;

      :global(.k-card-deck-scrollwrap) {
        display: none;
      }

      :global(.k-bubble) {
        min-width: 100px;
        border-radius: var(--border-radius-xxl, 12px)
          var(--border-radius-xxl, 12px) var(--border-radius-xxl, 12px)
          var(--border-radius-md, 2px);
        border: 1px solid var(--kendo-color-surface-alt, #fff);
        background: var(--kendo-color-surface-alt, #fff);
        box-shadow: 0px 0.3px 0.9px 0px rgba(0, 0, 0, 0.1),
          0px 1.6px 3.6px 0px rgba(0, 0, 0, 0.13);
        display: flex;
        padding: var(--kendo-spacing-2, 8px) var(--kendo-spacing-3, 12px);
        align-items: center;
        gap: var(--kendo-spacing-0, 0px);
      }

      :global(.k-alt) {
        :global(.k-message) {
          :global(.k-bubble) {
            background-color: #1e64b2;
            border-color: #1e64b2;
            color: #fff;
          }
        }

        :global(.k-selected) {
          :global(.k-bubble) {
            box-shadow: unset;
          }
        }
      }
    }
  }
}

.archDia {
  position: absolute;
  padding-left: 1500px;
  padding-top: 44%;
}

.layoutContainer {
  width: 100vw;
  height: 100vh;
}

.leftContainer {
  backdrop-filter: blur(2px);
  height: calc(100% - 36px);
  border-radius: 16px;
  display: flex;

  & > div {
    align-items: flex-start;

    &:third-child {
      border-radius: 16px;
      padding: 16px;
      padding-right: 8px;
      overflow-y: auto;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      flex: 0.7;
    }

    &:last-child {
      flex: 0.3;
      padding: 16px;
      padding-left: 8px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 1600px) {
  .leftContainer {
    &:third-child {
      flex: 0.7;

      &:last-child {
        flex: 0.3;
      }
    }
  }
}

.disclaimerText {
  position: absolute;
  bottom: 15%;
  font-size: 12px;
  margin-left: 4px;
  bottom: 15%;
  width: 20vw;
  color: var(--kendo-color-subtle, #605e5c);
}

.archButton {
  color: white;
  background-color: #092952;
  border: unset;
  border-radius: 50px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid white;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & > svg {
      position: absolute;
      right: 12px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid white !important;
    color: white;
    background-color: #092952;
    border: unset;
  }
}

.thoughtProcessChatContainer {
  :global(.k-chat) {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5) !important;

    :global(.k-bubble) {
      background-color: rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.05);
    }

    :global(.k-avatar) {
      opacity: 0.5;
    }
  }

  :global(.k-message-box) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .citation {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.citation {
  background: #d1dbfa;
  border-radius: 4px;
  color: #123bb6 !important;
  cursor: pointer;
  font-weight: 500;
  line-height: 24px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none !important;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline !important;
  }
}

.chatHeader {
  border-radius: 8px 8px 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0;
  border-radius: var(--border-radius-xl, 8px) var(--border-radius-xl, 8px) 0px
    0px;
  background: var(--kendo-color-primary);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  h1 {
    font-size: 32px;
  }

  span {
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1600px) {
  .chatHeader {
    h1 {
      font-size: 24px;
    }
  }
}

.videoContainer {
  width: 100%;
  height: 52vh;

  video {
    width: 100%;
  }
}
.productTitle {
  color: var(--kendo-color-on-app-surface, #323130);

  /* Heading/Heading 6 */
  font-family: var(--family-font, "Segoe UI");
  font-size: var(--size-h6, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 138%; /* 22.08px */
  letter-spacing: var(--letter-spacing-normal, 0px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  text-align: left;
}
.productContainer {
  height: calc(100% - 50px);
  flex-direction: column;
  position: relative;
  padding: 0 24px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0fr;
  gap: 2vw;
  flex: 0.7;
}

.product {
  border-radius: var(--border-radius-xl, 8px);
  background: #fff;
  display: flex;
  flex-direction: column;
  // height: 260px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin-bottom: 8%;
  span {
    color: #fff;
    font-size: 14px;
  }
}

@media screen and (max-width: 1600px) {
  .productContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1400px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 96%;
  bottom: 10px;
  align-items: flex-start;
  margin-left: 8px;
}

.collectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.archDiaButton {
  position: absolute;
  bottom: 17px;
  right: 220px;
}
.muteButtonHeader {
  position: absolute;
  bottom: 17px;
  right: 160px;
}
.header {
  color: var(--Neutral-Grey-Dark-black, #1b1a19);
  font-family: var(--family-font, "Segoe UI");
  font-size: var(--size-h4, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: var(--letter-spacing-normal, 0px);

  margin-left: 24px;
  margin-top: 16px;
}

.shopIcon {
  position: absolute;
  right: 2px;
  top: 8px;
  width: 22px;
  cursor: pointer;
}

.subNav {
  height: 45px;
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
}

.navItem {
  margin-left: 24px;

  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 1;

  svg {
    width: 22px;
  }

  span {
    margin-left: 4px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.mic {
  cursor: pointer;
  margin-right: 4px;
}

.popup-content {
  position: absolute;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 108px;
  right: 0;
  flex-direction: column;
}
.prodContainer {
  margin-top: 60px;
  height: calc(100vh - 182px);
  flex: 1;
  overflow-y: auto;
}
.leftContainer {
  background: var(--kendo-color-surface-alt, #fff);
  background-size: cover;
  flex: 0.4;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
}
.rightContainer {
  flex: 0.6 1;
  background-image: url("https://dreamdemoassets.blob.core.windows.net/mtc/mtc_copilot_new_bg.png");
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0px;
}
.popup {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  overflow-y: auto;
  :global(.k-dialog-content > div) {
    background-color: black;
  }
}

.btn {
  color: #092952;
  background-color: #fff;

  & > span {
    display: flex;
    align-items: center;
    gap: 8px;

    & > svg {
      width: 24px;
    }
  }
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: #092952;
    background-color: #fff;
  }
}
.productPrice {
  color: var(--kendo-color-primary-primary-on-surface, #0078d4);

  /* Heading/Heading 6 - Semibold */
  font-family: var(--family-font, "Segoe UI");
  font-size: var(--size-h6, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 138%; /* 22.08px */
  letter-spacing: var(--letter-spacing-normal, 0px);
}
.horizontalLine {
  width: 94%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 70px;
}
.productImage {
  //width: 86%;
}
.imageContainer {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 20px;
  height: 300px;

  & > img {
    object-fit: none;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 8px;
  }

  svg {
    position: absolute;
    right: 5px;
    z-index: 99;
    background: white;
    border-radius: 15px;
    bottom: 5px;
    cursor: pointer;
    padding: 1px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: black;
}
.bulbPositioning {
  margin-right: -15px !important;
  margin-top: -8px;
  position: absolute;
  right: 16px;
  top: 8px;
}

.checkbox {
  position: absolute;
  z-index: 9999;
  top: 4px;
  right: 8px;

  input {
    width: 20px;
    height: 20px;
  }

  :global(.k-checkbox) {
    border-color: rgb(0 0 0 / 20%);

    &:checked {
      border-color: #dc711a;
      background-color: #dc711a;
      color: #fff;
    }
  }
}

.badge {
  color: white;
  background-color: #dc711a;
  border-color: #dc711a;
  border-radius: 8px;
}

.tokens {
  background-color: #1e4c83;
  color: white;
  font-size: 10px;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: absolute;

  span {
    color: #dcff02;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.title {
  font-size: 22px;
}

.secondaryButton {
  background-color: white;
  color: black;
  border: 2px solid #d1d1d1;
  font-weight: 600;
  font-size: 18px;

  &:hover,
  &:active,
  &:focus {
    background-color: white;
    color: black;
  }
}

.primaryButton {
  border-radius: var(--Medium, 4px);
  background: var(--kendo-color-primary);
  color: white;
  font-weight: 600;
  border-width: 2px;
  font-size: 18px;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--kendo-color-primary);
    color: white;
  }
}
.btnContainer {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
}
.addBtn {
  padding: 0;
  width: 32px;
  margin: 0;
  outline: 0;
  border: 0;
  height: 32px;
  box-shadow: unset;
  border-radius: var(--Medium, 4px);
  background: transparent;

  &:hover,
  &:active,
  &:focus {
    padding: 0;
    width: 32px;
    outline: 0;
    box-shadow: unset;
    margin: 0;
    border: 0;
    height: 32px;
    border-radius: var(--Medium, 4px);
    background: transparent;
    color: white;
  }
}

.removeBtn {
  padding: 0;
  width: 32px;
  margin: 0;
  border: 0;
  outline: 0;
  box-shadow: unset;
  height: 32px;
  border-radius: var(--Medium, 4px);
  background: transparent;

  &:hover,
  &:active,
  &:focus {
    padding: 0;
    width: 32px;
    margin: 0;
    box-shadow: unset;
    outline: 0;
    border: 0;
    height: 32px;
    border-radius: var(--Medium, 4px);
    background: transparent;
    color: white;
  }
}

.cartBtn {
  margin-top: 10px;
  padding: 4px 16px;
  border-radius: 8px;
  border: 1px solid var(--kendo-color-color-border, #8a8886);
  background: var(--kendo-color-base);
}

.actionButtonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 0px;
  position: absolute;
  top: -6%;
  right: 5%;
}
.productCard {
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.product {
  flex: 1;
  img {
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 8px 8px 0 0;
    height: 300px;
    object-fit: none;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .productDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 1rem;
      margin: 0;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.replacedProduct {
  img {
    max-width: 100%;
    height: auto;
    // height: 100%;
    /* padding-bottom: 15px; */
    margin-bottom: 15px;
    border-radius: 8px 8px 0 0;
    // height: 300px;
    // width: 247px;
    object-fit: contain;
  }
}

.activeProduct {
  border-radius: var(--border-radius-xl, 8px);
  border: 1px solid var(--kendo-color-primary);

  /* Elevation/Dark/Shadow 16 */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.28),
    0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}
